/* Main view */
.body-container {
    display: block;
}

/* Program section */
.program-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
